@using cloudscribe.Web.Pagination
@using dotNET.Web.Host
@using dotNET.Web.Host.Controllers
@using dotNET.Domain.Entities
@using dotNET.Domain.Entities.Sys
@using  dotNET.Dto
@using dotNET.Web.Host.Model
@{
    Layout = "_Layoutlist";

    AreaListlistmodel ItemsDatalistmodel = ViewBag.ItemsData as AreaListlistmodel;


    List<AreaList> ItemsDatalist = new List<AreaList>();
    if (ItemsDatalistmodel != null && ItemsDatalistmodel.AreaListlist != null)
    {

        ItemsDatalist = ItemsDatalistmodel.AreaListlist;
    }



    areaOption filer = ViewBag.filter as areaOption;



}

@section headers{
    <environment names="Development">
        <link href="/lib/wdtree/tree.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="/lib/wdtree/tree.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <style type="text/css">
        .fixed-table-toolbar {
            padding: 0 15px;
        }

        .fixed-table-body {
            border-top: solid 1px #ddd;
        }

        .ui-layout .west-Panel {
            background: #fff;
            /* border: 1px solid #ccc; */
            padding: 0;
        }

        .ui-layout .center-Panel {
            /*border: 1px solid #ccc;*/
            background: #fff;
        }
    </style>
}


<section class="content">

    <div class="ui-layout ui-layout-container">
        <input type="hidden" name="treevalue" id="treevalue" value='[{ "checkstate": 0, "id": "1", "text": "学历", "value": "1", "img": "", "parentnodes": "0", "showcheck": false, "isexpand": true, "complete": true, "hasChildren": true, "childNodes": [{ "checkstate": 0, "id": "853873541967908864", "text": "本科", "value": "853873541967908864", "img": "", "parentnodes": "1", "showcheck": false, "isexpand": true, "complete": true, "hasChildren": true, "childNodes": [{ "checkstate": 0, "id": "856811634257956864", "text": "3232", "value": "856811634257956864", "img": "", "parentnodes": "853873541967908864", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }, { "checkstate": 0, "id": "857043719077629952", "text": "8787", "value": "857043719077629952", "img": "", "parentnodes": "853873541967908864", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }, { "checkstate": 0, "id": "857044075140485120", "text": "87887", "value": "857044075140485120", "img": "", "parentnodes": "853873541967908864", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }, { "checkstate": 0, "id": "857048612849192960", "text": "lklk", "value": "857048612849192960", "img": "", "parentnodes": "853873541967908864", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }] }, { "checkstate": 0, "id": "856803544573808640", "text": "111", "value": "856803544573808640", "img": "", "parentnodes": "1", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }, { "checkstate": 0, "id": "856803656909852672", "text": "7676", "value": "856803656909852672", "img": "", "parentnodes": "1", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }, { "checkstate": 0, "id": "856804359187337216", "text": "788787", "value": "856804359187337216", "img": "", "parentnodes": "1", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }] }, { "checkstate": 0, "id": "2", "text": "民族", "value": "2", "img": "", "parentnodes": "0", "showcheck": false, "isexpand": true, "complete": false, "hasChildren": false, "childNodes": [] }]' />
        <div class="ui-layout-west" style="width:200px;float:left;">
            <div class="west-Panel" style="border: 0px solid #ccc;">
                <div class="panel-Title" style="border-bottom: 1px solid #ccc;  font-weight:bold;">功能目录</div>

                <div id="itemTree"></div>
            </div>
        </div>

        <div class="ui-layout-center" style="width:calc(100% - 208px);float:right;">
            <div class="center-Panel" style="border: 0px solid #ccc;">
                <div class="panel-Title" style="border-bottom: 1px solid #ccc; font-weight:bold;">功能信息</div>

                <div class="titlePanel">
                    <div id="toolbar">
                        <div class="search row">
                            <div class="col-sm-12 form-group">
                                <div class="form-inline">
                                    <form action="/area/index" style="display:none;" method="get" id="searchform">


                                        <input type="hidden" id="ParentId" name="ParentId" value="@filer.ParentId">
                                        <div class="form-group ">
                                            <label class="control-label  label-lg label-md">名称:</label>
                                            @Html.TextBox("Name", @filer.Name, new { placeholder = "名称", @class = "form-control input-small input-sm" })
                                        </div>



                                        <span class="form-group btn-group">
                                            <button class="btn btn-sm btn-info" id="btnSearch" type="submit"><i class="fa fa-search"></i> 搜索</button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>

                        @*<div style="  position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 34px;">
                            <div id="toolbar" class="btn-group">


                                <button id="btn_add" type="button" class="btn btn-default">

                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                                </button>


                            </div>

                        </div>*@
                    </div>
                </div>

                <div class="gridPanel">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr class="heading">
                                <th>Id</th>

                                <th>名称</th>
                                <th> 代码</th>
                                <th>关键字</th>
                             









                             
                            </tr>
                        </thead>
                        <tbody id="tbody">


                            @if (ItemsDatalist != null && ItemsDatalist.Count > 0)
                            {
                                @foreach (var s in ItemsDatalist)
                                {
                                    <tr>
                                        <td>@s.Id</td>
                                        <td>@s.AreaName</td>
                                        <td>@s.Postcode</td>
                                        <td>@s.AreaKeys</td>

                                      
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>
</section>
@section scripts{
    <script src="~/lib/wdtree/tree.min.js"></script>
    <script type="text/javascript">






            $(function () {

                var w = $(window).width() - 30 - 200 - 8;
                $('.west-Panel,.center-Panel').height(top.App.getIframeLayoutHeight() - 35);







                loadTree();
            });





            var loadTree = function () {

                var pid = $('#ParentId').val();
                $("#itemTree").treeview({
                    url: "/area/loadtree?ParentId=" + $('#ParentId').val(),
                    onnodeclick: function (item) {
                        $("#ParentId").val(item.id);
                        $('#btnSearch').trigger("click");
                    }
                });
                //var u=  $("#itemTree_" + pid).find("ul");
                //u.removeAttr("style");
                //u.css({ "z-index": "0", "position": "static", "visibility": "visible", "top": "auto", "left": "auto"});
                //u.addClass("bbit-tree-node-ct");
                $("#itemTree_" + pid).addClass("bbit-tree-selected");
            };
    </script>
}